@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
	--max-width: 1100px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--header-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--primary-glow: conic-gradient(
		from 180deg at 50% 50%,
		#16abff33 0deg,
		#0885ff33 55deg,
		#54d6ff33 120deg,
		#0071ff33 160deg,
		transparent 360deg
	);
	--secondary-glow: radial-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);

	--tile-start-rgb: 239, 245, 249;
	--tile-end-rgb: 228, 232, 233;
	--tile-border: conic-gradient(
		#00000080,
		#00000040,
		#00000030,
		#00000020,
		#00000010,
		#00000010,
		#00000080
	);

	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		--primary-glow: radial-gradient(
			rgba(1, 65, 255, 0.4),
			rgba(1, 65, 255, 0)
		);
		--secondary-glow: linear-gradient(
			to bottom right,
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0),
			rgba(1, 65, 255, 0.3)
		);

		--tile-start-rgb: 2, 13, 46;
		--tile-end-rgb: 2, 5, 19;
		--tile-border: conic-gradient(
			#ffffff80,
			#ffffff40,
			#ffffff30,
			#ffffff20,
			#ffffff10,
			#ffffff10,
			#ffffff80
		);

		--callout-rgb: 20, 20, 20;
		--callout-border-rgb: 108, 108, 108;
		--card-rgb: 100, 100, 100;
		--card-border-rgb: 200, 200, 200;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "VazirBold", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.85rem;
	font-weight: 600;
}

h3 {
	font-size: 1.7rem;
	font-weight: 600;
}

h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

h5 {
	font-size: 1.25rem;
	font-weight: 600;
}

h6 {
	font-size: 1rem;
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

/* MUI OVERRIDE */
/* MUI OVERRIDE */
/* MUI OVERRIDE */
.MuiButton-icon.MuiButton-startIcon {
	margin-right: -4px;
	margin-left: 8px;
}

.MuiButton-icon.MuiButton-endIcon {
	margin-right: 8px;
	margin-left: -4px;
}

.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd {
	margin-left: 16px;
	margin-right: -11px;
}

.MuiButton-root svg {
	margin-left: 5px;
}

.MuiChip-icon {
	margin-left: -6px !important;
	margin-right: 5px !important;
}

.MuiButtonGroup-firstButton {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.MuiButtonGroup-lastButton {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-right: 0 !important;
}

.MuiToggleButtonGroup-firstButton {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.MuiToggleButtonGroup-lastButton {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.MuiButtonGroup-middleButton {
	border-right: 0 !important;
}

.MuiTablePagination-spacer {
	display: none;
}

.MuiTablePagination-input,
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
	font-family: "Vazir" !important;
}

.MuiTablePagination-input {
	margin-right: 8px !important;
	margin-left: 32px !important;
}

.MuiTablePagination-toolbar {
	padding-left: 2px !important;
	padding-right: 24px !important;
	width: 100%;
	justify-content: center;
}

.MuiSwitch-switchBase {
	right: 0;
	left: auto !important;
}

.MuiSwitch-switchBase.Mui-checked {
	right: auto;
	left: 0 !important;
	transform: translateX(0px) !important;
}

.MuiDialog-paperFullScreen {
	width: 100% !important;
	max-width: 100% !important;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
