/* Primary Colors */
/* Status Colors */
/* Text Colors */
/* Background Colors */
/* Border Color */
/* Form Input Colors */
/* Border Radius */
/* Transition Variables */
/* Light Mode */
:root {
  --primary-color: #FF6347;
  --secondary-color: #FFD700;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --error-color: #dc3545;
  --text-color: #333333;
  --text-white-color: #FFFFFF;
  --text-black-color: #000000;
  --bg-color: #ededed;
  --border-color: #D1D1D1;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
  --input-bg-color: #FFFFFF;
  --input-text-color: #333333;
  --all-transition: all 0.3s ease-in-out;
  --btn-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Dark Mode */
[data-theme=dark] {
  --primary-color: #FFD700;
  --secondary-color: #FF6347;
  --text-color: #828690;
  --heading-color: #ced4da;
  --bg-color: #0d1015;
  --card-color: #14171c;
  --border-color: #2d2d2d;
  --input-bg-color: #333333;
  --input-text-color: #E0E0E0;
}

/* GLOBAL */
body {
  font-family: "Vazir", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  direction: rtl;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.5;
}

.primary-text {
  color: var(--primary-color);
}

.lt-container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lt-progress {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lt-paper {
  width: 100%;
  padding: 15px;
  border-radius: var(--border-radius-medium);
}

button a {
  display: flex;
  align-items: center;
}

/* FORM */
.lt-form {
  display: flex;
  flex-direction: column;
}

.lt-form-control {
  width: 100%;
  margin-bottom: 10px !important;
}

.lt-label {
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: "VazirBold";
  font-weight: 500;
}

input:focus-visible {
  outline: 1px solid var(--primary-color);
  box-shadow: none;
}

.lt-input {
  width: 100%;
  height: 36px;
  padding: 8px;
  font-size: 0.875rem;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--border-color);
  font-family: "Vazir";
}

.lt-input:disabled {
  cursor: default;
  background-color: #ccc;
  cursor: not-allowed;
}

.it-textarea {
  width: 100%;
  height: 180px;
  background: #fff;
  padding: 8px;
  font-size: 0.875rem;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--border-color);
  font-family: "Vazir";
}
.it-textarea:focus-within {
  border-color: var(--primary-color);
  outline: var(--primary-color);
}

.lt-password-field {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: var(--border-radius-medium);
}

.lt-password-field .lt-input {
  padding-left: 40px;
}

.lt-password-field button {
  position: absolute;
  left: 5px;
}

.lt-form-error {
  text-align: right !important;
  color: var(--error-color) !important;
  margin-right: 0 !important;
}

.lt-switch-input {
  width: 100%;
  margin-left: 0 !important;
  margin-right: -11px !important;
}

.lt-select {
  margin-top: 0 !important;
  height: 36px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--border-color);
}
.lt-select .MuiNativeSelect-select {
  padding-left: 32px;
  padding-right: 5px !important;
  height: 36px;
}
.lt-select .MuiNativeSelect-icon {
  left: 7px;
  right: auto;
}
.lt-select::after {
  display: none;
}
.lt-select::before {
  display: none;
}

.lt-timepicker-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lt-time-picker {
  width: 100%;
  margin-bottom: 10px !important;
  height: 36px;
}
.lt-time-picker .MuiOutlinedInput-root {
  height: 36px;
}

.lt-child-checkbox {
  margin-right: 30px;
}

.state-city-input-wrapper {
  display: flex;
  gap: 40px;
}
.state-city-input-wrapper .lt-select {
  width: 100%;
}
.state-city-input-wrapper .lt-select .MuiInput-underline {
  margin-top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lt-price-input {
  position: relative;
}
.lt-price-input .lt-input {
  padding-left: 50px;
}
.lt-price-input .lt-price-unit {
  position: absolute;
  left: 10px;
  top: 5px;
  padding-right: 5px;
  border-right: 1px solid var(--border-color);
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header .header-container {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header-container .header-menu {
  width: 40%;
  min-width: 40%;
  display: flex;
}
.header .header-container .left-menu {
  justify-content: flex-end;
}
.header .header-container .header-logo {
  width: 20%;
  min-width: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.header-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu ul li {
  margin-left: 2rem;
}
.header-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  line-height: 36px;
  font-weight: 500;
  transition: var(--all-transition);
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-menu ul li a:hover {
  color: var(--primary-color) !important;
}

.header-util-button {
  max-width: 36px !important;
  min-width: 36px !important;
  width: 36px !important;
  color: var(--text-color) !important;
}
.header-util-button svg {
  margin-left: 0;
}

.header.home-header .header-menu ul li a {
  color: var(--text-white-color);
}
.header.home-header .header-menu ul li:hover {
  color: var(--primary-color) !important;
}
.header.home-header .header-menu ul li.menu-item.button-item button {
  color: #ffffff;
}
.header.home-header .header-menu ul .header-address {
  color: #ffffff;
}
.header.home-header .header-util-button {
  color: #ffffff !important;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 36px;
  cursor: pointer;
}
.header-address .header-default-address {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-address .header-default-address h6 {
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 14px;
}
.header-address .header-default-address p {
  font-size: 11px;
}

/* PAGE LAYOUT */
.inner-page {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: 100%;
  overflow: auto;
}

.page-wrapper {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}
.page-wrapper .sidebar {
  width: 25%;
  min-width: 25%;
  margin-left: 2%;
}
.page-wrapper .content {
  width: 100%;
}

.shop-single-page .page-wrapper .content {
  width: 73%;
}

/* AUTH PAGE */
.auth-page-container {
  width: 80%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.auth-page-container .auth-page-box {
  width: 40%;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  z-index: 3;
}
.auth-page-container .auth-page-box .login-remember-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.auth-page-container .auth-page-box .login-remember-me a {
  font-size: 13px;
  color: var(--primary-color);
}
.auth-page-container .auth-page-image {
  width: 60%;
  min-width: 50%;
}
.auth-page-container .auth-page-image img {
  max-width: 100%;
  height: auto;
}

/* HOME PAGE */
.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../public/assets/images/front/home-bg-1.webp") no-repeat center center/cover;
  z-index: 1;
}
.home-container .home-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.home-search-wrapper {
  position: relative;
  z-index: 2;
  width: 700px;
  margin: 0 auto;
}
.home-search-wrapper h1 {
  color: var(--text-white-color);
  text-align: center;
  margin-bottom: 20px;
}
.home-search-wrapper h2 {
  color: var(--text-white-color);
  text-align: center;
  margin-bottom: 20px;
}
.home-search-wrapper .search-form {
  margin: 0;
}
.home-search-wrapper .search-form .search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home-search-wrapper .search-form .search-input-wrapper .lt-form-control {
  margin-bottom: 0 !important;
  width: 100%;
}
.home-search-wrapper .search-form .search-input-wrapper button {
  padding-left: 30px;
  padding-right: 30px;
}

.shop-types-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px;
  position: relative;
  z-index: 2;
}

.shop-types-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 30px;
}
.shop-types-grid .shop-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 105px;
  cursor: pointer;
}
.shop-types-grid .shop-type-item img {
  background-color: #fff;
}
.shop-types-grid .shop-type-item h6 {
  color: var(--text-white-color);
}

/* SEARCH PAGE */
.search-sidebar-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-medium);
}

.sidebar-filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar-filters .filter-item .MuiFormControl-root {
  width: 100%;
}
.sidebar-filters .filter-item .filter-item-label {
  display: block;
  padding: 5px 0;
  width: 100%;
  background-color: rgba(255, 99, 71, 0.2);
  border-right: 3px solid var(--primary-color);
  padding-right: 10px;
  border-radius: var(--border-radius-small);
  font-size: 16px;
  margin-bottom: 10px;
}

.search-results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 5px solid var(--primary-color);
  padding: 15px;
  border-radius: var(--border-radius-medium);
  background-color: var(--bg-color);
  margin-bottom: 40px;
}

.search-results-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

/* SHOP ITEM */
.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shop-item .shop-item-image {
  position: relative;
  height: 140px;
  width: 100%;
}
.shop-item .shop-item-image .shop-item-cover-image img {
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.shop-item .shop-item-image .shop-item-logo-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translate(50%, 0);
}
.shop-item .shop-item-details {
  width: 100%;
  height: 100%;
  padding: 40px 15px 15px;
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: var(--border-radius-medium);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shop-item .shop-item-details .shop-item-categories {
  display: flex;
  gap: 5px;
}

/* PANEL */
.panel-page-wrapper {
  min-height: 100vh;
  height: 100%;
  padding-right: 330px;
  background-color: var(--bg-color);
}
.panel-page-wrapper .panel-header {
  height: 80px;
  background-color: #fff;
  margin-bottom: 20px;
  border-bottom-right-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}
.panel-page-wrapper .panel-header .panel-header-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.panel-page-wrapper .panel-sidebar {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  width: 300px;
  padding: 30px 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.35s;
  z-index: 10;
  overflow-y: auto;
}
.panel-page-wrapper .panel-content {
  padding-left: 30px;
  padding-bottom: 30px;
}
.panel-page-wrapper .panel-content .panel-inner-content {
  width: 100%;
  margin-top: 20px;
}

.panel-inner-content.form-content {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
}

.panel-header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.panel-header-menu ul a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.panel-header-menu ul a:hover {
  color: var(--primary-color);
}
.panel-header-menu ul .util-item button {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 0;
}

.panel-sidebar-container {
  height: 100%;
  width: 100%;
}
.panel-sidebar-container .panel-sidebar-top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.panel-sidebar-container .panel-sidebar-top .panel-sidebar-top-text {
  height: 50px;
  display: flex;
  flex-direction: column;
}
.panel-sidebar-container .panel-sidebar-top .panel-sidebar-top-text h6 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.panel-sidebar-container .panel-sidebar-top .panel-sidebar-top-text span {
  font-size: 0.875rem;
  color: var(--primary-color);
}
.panel-sidebar-container .panel-sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.panel-sidebar-container .panel-sidebar-menu ul .panel-sidebar-separator {
  margin-bottom: 10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  padding-top: 5px;
}
.panel-sidebar-container .panel-sidebar-menu ul .panel-sidebar-separator h5 {
  margin-bottom: 0;
}
.panel-sidebar-container .panel-sidebar-menu ul li {
  margin-bottom: 10px;
  border-right: 3px solid transparent;
  padding-right: 10px;
  border-radius: var(--border-radius-small);
}
.panel-sidebar-container .panel-sidebar-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: var(--all-transition);
  display: flex;
  align-items: center;
  gap: 5px;
}
.panel-sidebar-container .panel-sidebar-menu ul li a:hover {
  color: var(--primary-color) !important;
}
.panel-sidebar-container .panel-sidebar-menu ul li a span {
  font-weight: 600;
}
.panel-sidebar-container .panel-sidebar-menu ul li.active-menu {
  border-right: 3px solid var(--primary-color);
}
.panel-sidebar-container .panel-sidebar-menu ul li.active-menu a {
  color: var(--primary-color) !important;
  font-family: "VazirBold";
}

.panel-inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-right: 5px solid var(--primary-color);
  padding: 15px;
  border-radius: var(--border-radius-medium);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}
.panel-inner-header h5 {
  font-weight: 600;
  margin-bottom: 5px;
}
.panel-inner-header .panel-inner-header-btns {
  display: flex;
  gap: 10px;
}

.panel-grid-one {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}

.panel-grid-two {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}

.panel-grid-three {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}

.panel-categories-wrapper {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.panel-new-img-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}
.panel-new-img-container .MuiPaper-root {
  width: 100%;
}

.panel-table-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.lt-table-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
}
.panel-filters .MuiInputBase-root {
  height: 36px;
  padding: 8px;
  padding-right: 0;
  font-size: 0.875rem;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--border-color);
  font-family: "Vazir";
}
.panel-filters .MuiInputBase-root::before {
  display: none;
}
.panel-filters .MuiInputBase-root svg {
  margin-left: 5px;
}
.panel-filters .MuiToggleButton-root.Mui-selected {
  color: var(--primary-color);
  background-color: rgba(255, 215, 0, 0.1);
}

.panel-shop-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.panel-shop-view .panel-shop-view-header {
  width: 100%;
}
.panel-shop-view .panel-shop-view-header .panel-shop-view-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.panel-shop-view .panel-shop-view-header .panel-shop-view-title h6 {
  font-weight: 600;
  margin-bottom: 0;
}
.panel-shop-view .panel-shop-view-header .panel-show-view-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel-shop-view .panel-shop-view-header .panel-shop-view-header-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.panel-shop-view .panel-shop-view-header .panel-shop-view-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.panel-shop-view .panel-shop-view-header .panel-shop-view-rating p {
  font-family: "Vazir";
}
.panel-shop-view .panel-shop-view-cover {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
.panel-shop-view .panel-shop-view-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.panel-shop-view .panel-shop-view-wrapper .panel-shop-view-map {
  width: 400px;
  min-width: 400px;
}

.panel-inner-content .panel-view-full {
  width: 100%;
  margin-bottom: 10px;
}
.panel-inner-content .panel-view-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 70px;
  margin-bottom: 10px;
}
.panel-inner-content .panel-view-row .panel-view-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.panel-inner-content .panel-view-item-key {
  color: var(--primary-color);
}
.panel-inner-content .panel-view-item-value {
  font-size: 0.9rem;
}
.panel-inner-content .panel-user-addresses {
  margin: 20px 0;
}
.panel-inner-content .panel-user-addresses .panel-addresses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
  padding: 1rem;
}

.products-tab {
  display: flex;
  flex-grow: 1;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.products-tab .products-tab-navigation {
  min-width: 140px;
  border: 2px dashed var(--accent-color);
  padding: 8px;
  border-radius: var(--border-radius-small);
}
.products-tab .products-tab-navigation .Mui-selected {
  background: var(--accent-color);
  color: #fff;
  border-radius: var(--border-radius-small);
}
.products-tab .products-tab-content {
  width: 100%;
}
.products-tab .products-tab-content .products-tab-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products-tab .products-tab-content .products-tab-header button {
  font-size: 12px;
}
.products-tab .products-tab-content .products-tab-header button svg {
  font-size: 16px;
}
.products-tab .products-tab-content .products-tab-header .products-tab-header-btns {
  display: flex;
  gap: 1rem;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: var(--border-radius-small);
  margin-bottom: 20px;
}
.product-box .product-box-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.product-box .product-box-main .product-box-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.product-box .product-box-main .product-box-content .product-box-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-box .product-box-main .product-box-content .product-box-info h6 {
  margin-bottom: 0;
}
.product-box .product-box-main .product-box-content .product-box-info .product-box-measurement {
  display: flex;
  gap: 1rem;
}
.product-box .product-box-main .product-box-content .product-box-meta {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.product-box .product-box-main .product-box-content .product-box-meta .product-box-price {
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-box .product-box-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}
.product-box .product-box-actions button {
  font-size: 12px;
}
.product-box .product-box-actions button svg {
  font-size: 16px;
}

.bookmark-shops-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.bookmark-products-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
.bookmark-products-grid .shop-product-item {
  cursor: unset;
}

/* SINGLE SHOP PAGE */
.shop-cover {
  width: 100%;
  position: relative;
}
.shop-cover img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.shop-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-medium);
  padding: 15px;
  margin: 20px 0;
}
.shop-heading .shop-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop-heading .shop-name .shop-title {
  display: flex;
  justify-content: space-between;
}
.shop-heading .shop-name .shop-title h1 {
  text-align: center;
  font-size: 24px;
}
.shop-heading .shop-name .shop-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shop-single-heading {
  display: flex;
  align-items: center;
  border-right: 5px solid var(--primary-color);
  padding: 15px;
  border-radius: var(--border-radius-medium);
  background-color: var(--bg-color);
  margin-bottom: 20px;
}

.shop-single-row {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.shop-single-row label {
  font-weight: 500;
  font-family: "VazirBold";
}
.shop-single-row svg {
  color: var(--primary-color);
}

.product-category-section {
  margin-top: 20px;
  border-radius: var(--border-radius-medium);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.product-category-section h5 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--primary-color);
  width: max-content;
  padding-bottom: 5px;
}
.product-category-section .shop-products-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.shop-product-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  padding: 8px;
  border-radius: var(--border-radius-small);
}
.shop-product-item .shop-product-main {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shop-product-item .shop-product-main .shop-product-info {
  width: 100%;
}
.shop-product-item .shop-product-main .shop-product-info .shop-product-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}
.shop-product-item .shop-product-main .shop-product-info .shop-product-header .shop-product-rating {
  display: flex;
  flex-direction: column;
}
.shop-product-item .shop-product-main .shop-product-info .shop-product-header .shop-product-rating p {
  font-size: 11px;
}
.shop-product-item .shop-product-main .shop-product-info .shop-product-header .product-item-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shop-product-item .shop-product-alt .shop-product-description p {
  font-size: 12px;
}
.shop-product-item .shop-product-alt .shop-product-measurement {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shop-product-price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.shop-product-price .product-discounted-price {
  text-decoration: line-through;
  color: #ccc;
  font-size: 15px;
}
.shop-product-price .product-final-price {
  font-weight: 600;
  font-family: "VazirBold";
  font-size: 16px;
}

.product-modal-content .MuiDialog-paper {
  min-width: 600px;
  width: max-content;
}
.product-modal-content .MuiDialog-paper .shop-product-item {
  border: none;
  cursor: initial;
  margin-bottom: 10px;
}

button.favorite-button {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}
button.favorite-button svg {
  margin-left: 0;
}

button.view-button {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}
button.view-button svg {
  margin-left: 0;
}

.shop-comments .shop-new-comment {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.shop-comments .shop-new-comment .panel-modal {
  width: 100%;
}
.shop-comments .shop-new-comment .panel-modal button {
  width: 100%;
}

.shop-comments-wrapper {
  display: flex;
  flex-direction: column;
}
.shop-comments-wrapper .shop-comment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--border-color);
}
.shop-comments-wrapper .shop-comment .shop-original-comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shop-comments-wrapper .shop-comment .shop-original-comment .shop-comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-comments-wrapper .shop-comment .shop-response-comment {
  margin-right: 10px;
  margin-top: 10px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-small);
  padding: 8px;
}
.shop-comments-wrapper .shop-comment .shop-response-comment h6 {
  font-size: 14px;
}

.product-new-comment {
  margin-bottom: 20px;
}
.product-new-comment button {
  margin-top: 10px;
}

/********** DARK THEME **********/
/********** DARK THEME **********/
/********** DARK THEME **********/
.dark .header.home-header .header-menu ul li a,
.dark .header.front-header .header-menu ul li a {
  color: var(--text-color);
}
.dark .header.home-header .header-menu ul .header-address,
.dark .header.front-header .header-menu ul .header-address {
  color: var(--text-color);
}
.dark .header.home-header .header-menu ul li.menu-item.button-item button,
.dark .header.front-header .header-menu ul li.menu-item.button-item button {
  color: var(--text-color);
}
.dark .header.home-header .header-util-button,
.dark .header.front-header .header-util-button {
  color: var(--text-color) !important;
}
.dark .panel-page-wrapper .panel-sidebar {
  background-color: var(--card-color);
}
.dark .panel-page-wrapper .panel-header {
  background-color: var(--card-color);
}
.dark .panel-header-menu ul button {
  color: var(--text-color);
}
.dark .panel-header-menu ul a {
  color: var(--text-color);
}
.dark .panel-inner-header {
  background-color: var(--card-color);
}
.dark .panel-inner-content.form-content {
  background-color: var(--card-color);
}
.dark .panel-filters {
  background-color: var(--card-color);
}
.dark .panel-filters .MuiInputBase-root {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}
.dark .panel-filters .MuiInputBase-root svg {
  color: var(--input-text-color);
}
.dark .shop-item .shop-item-details {
  background-color: var(--card-color);
}
.dark .bookmark-shops-grid .shop-item .shop-item-details {
  background-color: var(--bg-color);
}
.dark .search-results-header {
  background-color: var(--card-color);
}
.dark .search-results-sort button {
  color: var(--text-color);
}
.dark .sidebar-filters .filter-item .filter-item-label {
  background-color: var(--card-color);
}
.dark .shop-single-heading {
  background-color: var(--card-color);
}
.dark .shop-heading {
  background-color: var(--card-color);
}
.dark .shop-product-item {
  background-color: var(--card-color);
}
.dark .bookmark-products-grid .shop-product-item {
  background-color: var(--bg-color);
}
.dark .product-modal-content .shop-product-item {
  background-color: var(--text-black-color);
}
.dark .lt-label {
  color: var(--text-color);
}
.dark .lt-select {
  color: var(--input-text-color);
}
.dark .lt-select option {
  background-color: var(--bg-color) !important;
  color: var(--input-text-color);
}
.dark .lt-time-picker {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}
.dark .lt-time-picker .MuiInputBase-root {
  color: var(--input-text-color);
}
.dark .lt-input:disabled {
  color: var(--text-color);
}
.dark .lt-input.search-input {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}
.dark .MuiButton-containedPrimary {
  background-color: var(--primary-color);
  color: var(--text-black-color);
}
.dark .MuiButton-containedPrimary a {
  color: var(--black-color);
}
.dark .MuiTableContainer-root {
  background-color: var(--card-color);
}
.dark .MuiTableHead-root {
  background-color: #000;
}
.dark .Mui-checked {
  color: var(--primary-color) !important;
}
.dark .MuiSwitch-track {
  background-color: #ccc;
}
.dark .MuiTab-root.Mui-selected {
  color: var(--primary-color);
}
.dark .MuiTabs-indicator {
  background-color: var(--primary-color);
}
.dark .MuiChip-colorDefault {
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
}
.dark .MuiRadio-root {
  color: var(--text-color);
}
.dark .MuiToggleButtonGroup-lastButton {
  border-left: 1px solid #fff !important;
}
.dark .MuiCircularProgress-root {
  color: var(--primary-color);
}

/*# sourceMappingURL=styles.css.map */
